@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  background-color: #d4f1f4;
}

.App {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: #75e6da;
  box-shadow: 5px 5px 1px #00b6bc;
  border-radius: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  gap: 2em;
  text-align: center;
}

.top span {
  font-weight: 700;
  filter: drop-shadow(1px 1px 1px #00b6bc);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
.button input {
  width: 2em;
  padding: 0.2em;
  font-size: inherit;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: 3px 3px 1px #00b6bc;
}

.button button {
  padding: 0.2em 0.4em;
  font-size: inherit;
  background-color: #e4f4f3;
  box-shadow: 2px 2px 1px #00b6bc;
  color: #00a1a7;
  font-weight: 700;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.timer {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer h2 {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
  filter: drop-shadow(1px 1px 1px #00b6bc);
}
.timer h1 {
  margin: 0;
  padding: 0;
  font-size: 5em;
  filter: drop-shadow(1px 1px 1px #00b6bc);
}

.timer button {
  margin: 0 0.5em;
  padding: 0.5em;
  font-size: inherit;
  background-color: #e4f4f3;
  border-radius: 4px;
  box-shadow: 5px 5px 1px #00b6bc;
  color: #00a1a7;
  font-weight: 700;
}
